{% extends 'base.html' %}
{% load static %}
{% load store_tags %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="{% static 'img/product-1.jpg' %}" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$100.00</del>
                            </div>
                        </div>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div>
                </div>

                {% for product in products %}

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{% url 'home:home' %}">Home</a>
                            <a href="{% url 'store:product_brands' product.main_category|lower product.sub_category.slug %}">{{ product.sub_category }}</a>
                            <a href="">{{ product.name }}</a>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{% static 'img/product-2.jpg' %}" alt="">
                                    </div>

                                    <div class="product-gallery">
                                        <img src="{% static 'img/product-thumb-1.jpg' %}" alt="">
                                        <img src="{% static 'img/product-thumb-2.jpg' %}" alt="">
                                        <img src="{% static 'img/product-thumb-3.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.name }}</h2>
                                    <div class="product-inner-price">
                                        <ins>${{ product.price }}</ins> <del>$100.00</del>
                                    </div>

                                    <form action="{% url 'cart:add_product' product.pk %}" class="cart" method="post">
                                        <div class="quantity">
                                                {% csrf_token %}
                                                {{ form }}
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>

                                    <div class="product-inner-category">
                                    <h3>Tags:</h3>
                                        {% for item in product.tags.all %}
                                            <a href="{% url 'home:product_tags' item.id %}">{{ item }}</a>
                                        {% endfor %}
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                <p>{{ product.description }}</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <div id="disqus_thread"></div>
                                                        <script>
                                                            /**
                                                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                                                            /*
                                                            var disqus_config = function () {
                                                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                                            };
                                                            */
                                                            (function() { // DON'T EDIT BELOW THIS LINE
                                                            var d = document, s = d.createElement('script');
                                                            s.src = 'https://http-127-0-0-1-8000-l3ltq4z6qw.disqus.com/embed.js';
                                                            s.setAttribute('data-timestamp', +new Date());
                                                            (d.head || d.body).appendChild(s);
                                                            })();
                                                        </script>
                                                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% related_product product.sub_category product.name %}

                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}