{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    {% for product in products %}
    <div class="related-products-carousel">
        <div class="single-product">
            <div class="product-f-image">
                <img src="{{ product.image.url }}" alt="">
                <div class="product-hover">
                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    <a href="{{ product.get_absolute_url }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                </div>
            </div>

            <h2><a href="">{{ product.name }}</a></h2>

            <div class="product-carousel-price">
                <ins>${{ product.price }}</ins> <del>$100.00</del>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</body>
</html>